body {
    background: black;
    color: white;
}
#patches { /* wants flex box */
    max-height: 27em;
    overflow-y: scroll;
}
.patch {
    border: 1px solid gray;
    padding: 2px;
    margin: 4px;
}
.patch > div {
    font-family: monospace;
    font-size: 90%;
    white-space: pre-wrap;
} 
.patch .adds {
    color: #3AEA38;
}
.patch .deletes {
    color: #FF2828;
}
#out {
    white-space: pre-wrap;
}
.patch fieldset {
    color: gray;
    font-family: arial;
    font-size: 75%;
}
